@font-face {
  font-family: 'Lexend_Exa';
  src: url('/fonts/Lexend_Exa/LexendExa-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lexend_Exa', sans-serif;
  color: white;
}


h3 {
  font-size: 24px;
  padding: 15px;
  margin: 20px auto;
  max-width: 90%;
}

p {
  font-size: 18px;
  padding: 15px;
  width: 60%;
  margin: 0 auto;
  line-height: 1.6;
  text-align: justify;
}

ul {
  font-size: 18px;
  padding: 15px 15px 15px 35px;
  width: 60%;
  margin: 20px auto;
  line-height: 1.8;
}

li {
  margin-bottom: 10px;
}

/* 1️⃣ Telefony */
@media (max-width: 768px) {
  body {
    background: url("tlo2/1080dlg.webp") no-repeat top center;
    background-size: cover;
    min-height: 100vh;
    font-size: 16px;
  }
  
  h3 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    width: 90%;
    padding: 10px;
    text-align: left;
  }
  
  ul {
    font-size: 14px;
    width: 90%;
    padding: 10px 10px 10px 25px;
  }
  
  li {
    margin-bottom: 12px;
  }
}


/* 2️⃣ Full HD */
@media (min-width: 769px) and (max-width: 1920px) {
  body {
    background: url("tlo2/1920dlg.webp") no-repeat top center;
    background-size: 100% auto;
    font-family: 'Lexend_Exa' !important;
    color: white;
    font-size: 20px;

  }
}

/* 3️⃣ 2K */
@media (min-width: 1921px) and (max-width: 2560px) {
  body {
    background: url("tlo2/2560dlg.webp") no-repeat top center;
    background-size: 100% auto;
    font-family: 'Lexend_Exa' !important;
    color: white;
    font-size: 20px;

  }
}

/* 4️⃣ 4K i większe */
@media (min-width: 2561px) {
  body {
    background: url("tlo2/3840dlg.webp") no-repeat top center;
    background-size: 100% auto;
    font-family: 'Lexend_Exa' !important;
    color: white;
    font-size: 20px;
    

  }
}



